.title {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 18px;
	font-style: italic;
	color: #c0c0c0;
	text-align: left;
	margin: 10px 0px;
}
.flexWrapper {
	display: flex;
}
.dialogs {
	border-right: 2px solid #c0c0c0;
	margin: 0px 0px 0px 30px;
	padding: 0 70px 0 0;
}

.dialogs__item {
	margin: 0px 0px 15px 0px;
}
.dialogs__item a {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: rgb(43, 43, 95);
}
.dialogs__item:last-child,
.messages__item:last-child {
	margin: 0px 0px 0px 0px;
}
a.activeDialog {
	font-weight: 700;
}
.messages {
	flex-grow: 1;
	margin: 0px 0px 0px 40px;
}
.messages__item {
	margin: 0px 0px 10px 0px;
}
