.question,
.answer {
	margin: 0px 0px 20px 0px;
	display: flex;
}
.question {
	flex-direction: row;
}
.answer {
	flex-direction: row-reverse;
}
.messageIcon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid rgb(43, 43, 95);
}
.question .messageIcon {
	margin: 0px 30px 0px 0px;
}
.answer .messageIcon {
	margin: 0px 0px 0px 30px;
}
.messageIcon img {
	max-width: 100%;
}
.message {
	flex: 1 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.messageTime {
	align-self: flex-end;
}
.messageText {
	border: 1px solid rgb(43, 43, 95);
	border-radius: 10px;
	position: relative;
}
.question .messageText {
	border-top-left-radius: 0;
	box-shadow: 2px 2px 2px 1px #10101070;
}
.answer .messageText {
	border-top-right-radius: 0;
	box-shadow: -2px 2px 2px 1px #10101070;
}
.question .messageText::before,
.answer .messageText::after {
	content: "";
	position: absolute;
	top: -1px;
	width: 0;
	height: 0;
	border: 10px solid rgb(43, 43, 95);
	border-bottom-color: transparent;
	border-top-width: 9px;
}
.question .messageText::before {
	left: -20px;
	border-left-color: transparent;
}
.answer .messageText::after {
	left: 100%;
	border-right-color: transparent;
}
.innerBox {
	position: relative;
	padding: 15px;
}
.innerBox p {
	color: rgb(43, 43, 95);
}
.question .innerBox::before,
.answer .innerBox::after {
	content: "";
	position: absolute;
	top: 0px;
	width: 0;
	height: 0;
	border: 8px solid rgb(235, 235, 235);
	border-bottom-color: transparent;
	z-index: 1;
}
.question .innerBox::before {
	left: -16px;
	border-left-color: transparent;
}
.answer .innerBox::after {
	left: 100%;
	border-right-color: transparent;
}
.messageTime {
	color: gray;
	font-style: oblique;
	font-size: 12px;
	margin: 0px 10px 0px 0px;
}
