.sidebar {
	grid-column: 1;
	background-color: #444142;
}
.menu {
	margin: 20px 0px 0px 30px;
}
.settings {
	margin: 45px 0px 0px 0px;
}
.active {
	color: rgb(211, 152, 97);
	font-weight: 700;
	text-shadow: 2px 2px 1px #000;
}
